.nav {
    border: yellow solid 2px;
    width: 100%;
    /*display: flex;
    justify-content: space-around;
    /*flex-direction: row;*/
}
.menu {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color : #047b27;
}
.dark {
  background-color: /*#1f262d*/ #000e1c;
  color : white;
  transition-delay: 0.1s;
}
/*
.ant-menu-horizontal > .ant-menu-item > a{
  color : #047b27;
}
*/